<nav class="navbar navbar-expand-lg">
  <h2> Showing {{ account.name }}</h2>
  <h3>Month: </h3>
  <app-filter-pagination
    [labels]="months"
    [currentIndex]="monthIndex"
    (filterclick)="changeMonth($event)">
  </app-filter-pagination>
  <h3>Year: </h3>
  <app-filter-pagination
    [labels]="years"
    [currentIndex]="yearIndex"
    (filterclick)="changeYear($event)">
  </app-filter-pagination>
</nav>
<table class="table table-bordered table-striped mt-3">
    <thead>
    <tr>
      <th scope="col" style="width: 8%">Data</th>
      <th scope="col" style="width: 72%">Description</th>
      <th scope="col" style="">Amount</th>
      <th scope="col" style="">Target</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!transactions" class="spinner-border" role="status">
      <td class="d-flex justify-content-center sr-only" colspan="5">Loading...</td>
    </tr>
    <tr *ngIf="transactions && transactions.length === 0">
      <td colspan="5" class="text-center">This period is empty</td>
    </tr>
    <tr *ngFor="let line of transactions" class="pt-1 pb-1">
      <td>{{ line.date }}</td>
      <td>{{ line.descr }}</td>
      <td>&euro; {{ showAmount(line.amount) }}</td>
      <td>{{ getAccountName(line.target) }}</td>
      <td><button type="button" class="btn fa fa-info bg-transparent"></button>
<!--        (click)="goTo(line.id)-->
      <button type="button" class="btn fa fa-times bg-transparent"></button></td>
<!--      (click)="delTransaction(account.id, line.id)-->
    </tr>
    </tbody>
  </table>
