<div class="col-lg-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th scope="col" colspan="3"></th><!-- date -->
        <th scope="col" colspan="2" *ngFor="let account of accounts">
            {{ account.name }}
        </th>
      </tr>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Valuta</th>
        <th scope="col">Description</th>
        <ng-container *ngFor="let account of accounts">
          <th scope="col">In</th>
          <th scope="col">Out</th>
        </ng-container>
      </tr>
    <tbody>
      <tr *ngFor="let line of cashbook">
        <td>{{ line.date }}</td>
        <td>{{ line.descr }}</td>
        <td>{{ line.amount }}</td>
        <!-- <td>{{ line.in }}</td>
        <td>{{ line.out }}</td> -->
        <!-- <td><button type="button" class="close" (click)="delete(employee.id)">&times;</button></td> -->
      </tr>
    </tbody>
    </table>
  </div>
