<div class="card-body">
    <form class="form-inline card-text" (ngSubmit)="onSubmit()" #lineForm="ngForm">

        <div class="form-group">
          <div class="input-group mr-2">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   [class.submit-success]="submitted"
                   [class.submit-error]="sameAccount"
                   name="dp" [(ngModel)]="dateModel"
                   ngbDatepicker
                   #d="ngbDatepicker">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>

            <input type="text" class="form-control mr-2"
                    placeholder="Description"
                    name="descr"
                    [class.submit-success]="submitted"
                    [class.submit-error]="sameAccount"
                    [(ngModel)]="transaction.descr"
                    required
                    #desc="ngModel" />

        <!-- <div [hidden]="desc.valid || desc.pristine" class="alert alert-danger">Description Required</div> -->


            <input type="number" class="form-control mr-2"
                    placeholder="1000.00" name="total"
                    [class.submit-success]="submitted"
                    [class.submit-error]="sameAccount"
                    [(ngModel)]="transaction.amount"
                    required
                    #cash="ngModel" />


            <input id='target-account' type="text" name='target-account'
                    class="form-control mr-2"
                    placeholder="Target Account"
                    [class.submit-success]="submitted"
                    [class.submit-error]="sameAccount"
                    [(ngModel)]="targetModel"
                    [(ngbTypeahead)]="searchTarget"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    required
                    [editable]='false' />


            <input id='origin-account' type="text" name='origin-account' class="form-control mr-2"
                   placeholder="Origin Account"
                    [class.submit-success]="submitted"
                    [class.submit-error]="sameAccount"
                    [class.error]="sameAccount"
                    [(ngModel)]="originModel"
                    [(ngbTypeahead)]="searchOrigin"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    [editable]='false' />
        <!-- Don't show submit button until the origin account is loaded -->
        <div *ngIf="showingAccount">
            <button type="submit" class="btn btn-success" [disabled]="!lineForm.form.valid">Add</button>
        </div>

    </form>
    <ngb-alert *ngIf="sameAccount" class="mt-3 mb-0" type="danger" [dismissible]="false">
        You can't target a transaction on the same origin account
    </ngb-alert>
<!--    <ngb-alert *ngIf="submitted" class="mt-3 mb-0" type="success" [dismissible]="false">-->
<!--        Submitted!-->
<!--    </ngb-alert>-->

<!--    origin: {{originModel | json}}<br/>-->
    transaction: {{ transaction | json }}

</div>
