<div class="col-lg-12">
  <div>
    <a routerLink="/employee-add" class="">Add Employee</a>
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col"></th>
    </tr>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td><button type="button" class="close" (click)="delete(employee.id)">&times;</button></td>
    </tr>
  </tbody>
  </table>
</div>