<nav class="navbar navbar-expand-lg bg-light d-flex sticky-top"> <!-- fixed-top -->
  <h2 class="col-xl-2">{{ title }}</h2>
  <ul class="list-unstyled ml-auto d-flex">
    <li>
      Pic
    </li>
    <li>
      Logout
    </li>
  </ul>
</nav>
<div id="wrapper" class="container-fluid " style="min-height: 100vh;">
  <div class="row">
    <nav id="sidebar" class="bg-light border col-xl-2 d-xl-block">
      <ul class="list-unstyled">
        <li>
          <a routerLink="/employees" class="toc-link">Employees</a>
        </li>
        <li>
          <a routerLink="/cashbook" class="toc-link">Cashbook</a>
        </li>
        <li>
          <a routerLink="/accounts" class="toc-link">Accounts</a>
        </li>
      </ul>
    </nav>
    <div id="content" class="col-lg-10 ml-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
