<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 bg-dark">
      <h2 class="card-title text-white py-3" style="float: left;margin-right: 40px;">{{ title }}</h2>
    </div>
    <div class="col-lg-1 bg-dark py-3" style="float: right">
      <p class="text-white">User placeholder</p>
    </div>
  </div>
  <div class="row">
    <nav class="toc py-3 bg-blue">
      <div class="">
        <ul class="nav flex-column">
          <li class="">
            <a routerLink="/employees" class="toc-link">Employees</a>
          </li>
          <li>
            <a routerLink="/cashbook" class="toc-link">Cashbook</a>
          </li>
          <!-- <li>
            <a routerLink="/accounts" class="toc-link">Accounts</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="col-lg-10 py-3 table table-striped">  
      <router-outlet></router-outlet>
    </div>
  </div>
</div>