<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 bg-dark">
      <h2 class="card-title text-white py-3" style="float: left;margin-right: 40px;">{{ title }}</h2>
    </div>
    <div class="col-lg-1 bg-dark py-3" style="float: right">
      <p class="text-white">User placeholder</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="">
        <ul class="py-3">
          <li class="">
            <a routerLink="/employees" class="btn btn-info">List Employees</a>
          </li>
          <li class="">
            <a routerLink="/employee-add" class="btn btn-info">Add User</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-10 py-3 table table-bordered table-striped">  
      <router-outlet></router-outlet>
    </div>
  </div>
</div>