<div class="card-body">
    <form class="form-inline card-text" (ngSubmit)="onSubmit()" #lineForm="ngForm">

        <div class="form-group">
          <div class="input-group mr-2">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   [class.submit-success]="success"
                   [class.submit-error]="error"
                   name="dp" [(ngModel)]="dateModel"
                   ngbDatepicker
                   #d="ngbDatepicker">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <input type="text" class="form-control mr-2"
                placeholder="Description"
                name="descr"
                [class.submit-success]="success"
                [class.submit-error]="error"
                [(ngModel)]="transaction.descr"
                required
                #desc="ngModel" />

        <input type="number" class="form-control mr-2"
                placeholder="1000.00" name="total"
                [class.submit-success]="success"
                [class.submit-error]="error"
                [(ngModel)]="transaction.amount"
                required
                #cash="ngModel" />

        <app-account-selector class="mr-2" [accounts]="accounts"
                              [placeholder]="'Target Account'"
                              [required]="true"
                              (selected)="selectedTarget($event)">
        </app-account-selector>
          <app-account-selector class="mr-2" [accounts]="accounts"
                                [placeholder]="'Origin Account'"
                                (selected)="selectedOrigin($event)">
          </app-account-selector>
        <!-- Don't show submit button until the origin account is loaded -->
        <div *ngIf="showingAccount">
            <button type="submit" class="btn btn-success" [disabled]="!lineForm.form.valid">Add</button>
          {{target.name}}
        </div>
    </form>
<!--    transaction: {{ transaction | json }}-->

</div>
